.header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}

.title {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    text-align: center;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.select, .word {
    width: 30%;
}

@media only screen and (max-width: 767px) {
    .title {
      font-size: 1.5em;
      margin-top: 30px;
    }
  }

